*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bg-gradient-primary{
    background-color: #05445e;
}

.lognin,
.register{
    
    width: 100%;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid red;
    height: 39px;
    background-color: #fff;
  }

  .bg-login-image{
    width: 420px;
    height: 570px;
  }

  .bg-register-image{
    width: 100%;
    height: 600px;
  }

  .bg-register-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bg-login-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  th,
  td{
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .action{
    /* margin: auto; */
    margin-top: 30px;
    /* background-color: red; */
  }

  .menu{
    height: 80px;
  }

  nav{
    height: 80px;
  }


  .btn_auth{
    width: 100px;
    height: 38px;
    font-size: 17px;
    text-align: center;
    padding-top: 3px;
    color: #fff;
  }

  .margin_top{
    margin-top: 120px;
  }
 .banner .margin_top .content_page{
    height: 100%;
    width: 100%;
}

.content_page .details{
  position: absolute;
  left: 60%;
  top: 0;
}
.content_page .detail_auna{
  position: absolute;
  left: 9%;
  top: 27%;
}

.content_page .details h2,
.content_page .detail_auna h2{ 
  width: 500px;
  top: 0;
  font-size: 50px;
  
  z-index: 2;
}
.content_page .details p,
.content_page .detail_auna p{
  width: 600px;
  z-index: 2;
}

.seemore{
  position: absolute;
  left: 40%;
}
.sseemore{
  position: absolute;

left: 46%;}

.btn-primary{
  background-color: #f43f5e;
  border: none;
}

.btn-outline-primary{
 border: 1px solid #f43f5e;
}

.btn-primary:hover,
.btn-outline-primary:hover{
  background-color: #f43f5e;
  border: none;
}

.team-intro {
  background-color: rgba(221, 160, 221, 0.21);
  text-align: center;
  padding: 50px 20px;
}

.hero-banner{
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
}

.banner{
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  margin-top: 60px;
  height: 600px;
  background-image: url(../img/Skincare1/3ce-baner.avif);
  background-size: cover;
}

.auna .banner{
   margin-top: 60px;
  height: 600px;
  background-image: url(../img/Skincare1/auna-baner.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.pka .banner{
   margin-top: 60px;
  height: 600px;
  background-image: url(../img/Skincare1/pka-banner.avif);
  background-size: cover;
}

.skin .banner{
   margin-top: 60px;
  height: 600px;
  background-image: url(../img/Skincare1/1004.avif);
  background-size: cover;
}

.skincare .banner{
   margin-top: 60px;
  height: 600px;
  background-image: url(../img/Skincare1/skin-banner.avif);
  background-size: cover;
}

h3{
  margin-top: 7px;
  font-size: 20px !important;
  font-weight: 500;
  color: blue;
}

h4{
  font-size: 17px;
}

.btnCart {
  background-color: #ffffff;
  color: #ff6583;
  border-radius: 30px;
  padding: 5px 18px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 6px;
  border: 0.7px solid;
  font-size: 16px;
  font-weight: bold;
}
.btnCart:hover {
  background-color: #ff83bc;
  color: white;
  border: 0.7px solid #ff83bc;
}
.btnBuy {
  background-color: #f43f5e;
  color: white;
  border-radius: 30px;
  padding: 6px 18px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  margin: 6px 0px ;
  border: 0.7px solid #f43f5e;
  font-size: 16px;
  font-weight: bold;
}
.btnBuy:hover {
  background-color: #ff83bc;
  color: white;
  border: 0.7px solid #ff83bc;
}

.product-card {
  border: 0.3px solid #e0e0e0;
  border-radius: 12px;
  padding: 12px;
  margin: 10px  ;
  width: 300px;
  transition: all 0.4s ease;
}
.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.product-card .product-img {
  border-radius: 12px;
  height: 240px;
  width: 100%;
}

.product-card .product-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description{
  margin-top: 30px;
}
.description p{
  font-size: 19px;
}

.product-images{
  width: 100%;
  height: 400px;
  margin-top: 0;
  padding-top: 0 !important;

}

.product-images .thumbnail-row{
  width: 100%;
  height: 100%;
}

.product-images .thumbnail-row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-description{
   display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sidebar-brand .logo{
  width: 224px;
  height: 70px;
  
}

.sidebar-brand .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1
}

.bg_gradient{
  background-color: #ff6583;
}

a:hover{
  text-decoration: none !important;
}

.developers .icon-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ff6583;
}

.developers .icon-circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ff6583;
}
