<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunscreen</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      xintegrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/Auna.css" />
     <link rel="stylesheet" href="/css/style.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>
    <section>
      <div class="container-fluid menu">
        <div class="container">
          <div class="row">
            <nav
              class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            >
              <div class="logo">
                <a href=""><i class="fa-solid fa-bars"></i></a>
                <!-- <a href="#">A3 Skincare</a> -->
                <img src="/img/imgs/logo.png" alt="logo" />
              </div>
              <ul>
                <li>
                  <a href="/Homepage">Home</a>
                </li>
                <li>
                  <a href="/Skincare">Skincare</a>
                </li>
                <li>
                  <a href="/About">About</a>
                </li>
                <li>
                  <a href="/Contact">Contact</a>
                </li>
              </ul>
              <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
              </div>

               <div class="d-flex justify-content-between">
                  <% if (!user) { %>
                    <div class="me-4">
                      <a href="/signin">
                        <button class="btn btn-primary btn_auth">Login</button>
                      </a>
                    </div>
                    <div>
                      <a href="/register">
                        <button class="btn btn-outline-primary btn_auth">Sign Up</button>
                      </a>
                    </div>
                  <% } else { %>
                    <div>
                      <a href="/logout">
                        <button class="btn btn-danger">Logout</button>
                      </a>
                    </div>
                  <% } %>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container-fluid auna">
        <div class="row ">
          <div
            class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  hero-banner banner"
          >
          <div class="margin_top">
            <div class="content_page">
              <div class="detail m-auto ">
                <h2 class="fs-1 text-danger text-center mt-5">Welcome to Auna Brands</h2>
                <p class="fs-4 text-center ">It's from USA, It's have a lot of products and good quality with a nice prices.</p>
              </div>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div
            class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 recommand-pro"
          >
            <h2>Recommand Products</h2>
            <div
              class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 btn-Product"
            >
              
              <a class="btn btn-danger" href="/Phka" role="button">Phka</a>
             
              <a class="btn btn-danger" href="/Skin1004" role="button">Skin1004</a>
              <a class="btn btn-danger" href="/3CE" role="button">3CE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Angkeadey.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Angkeadey</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Tirk Dos.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Tirk Dos</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Nokoreach.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Nokoreach</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Chhuk.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Chhuk</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Kolab.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Kolab</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Romdoul.png" alt="" />
            </div>
            <div class="product-name">
              <h2>Romdoul</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Nokoreach.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Nokoreach</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>

          <div
            class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 product-card"
          >
            <div class="product-img">
              <img src="imgs/Chhuk.jpeg" alt="" />
            </div>
            <div class="product-name">
              <h2>Chhuk</h2>
              <h4>$10.00</h4>
            </div>
            <div class="product-description">
              <h3>Description</h3>
            </div>
            <button type="button" class="btnCart">Add to Cart</button>
            <button type="button" class="btnBuy">Buy Now</button>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <h3>Open Skincare</h3>
          <p>
            We believe skincare should be accessible to all.<br />
            Explore our range of open-source formulas and<br />
            educational content that empowers you to<br />
            understand and personalize your skincare journey.
          </p>
          <p class="copyright">
            © 2025 Glow & Grace Skincare. All rights reserved.
          </p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>

        <div class="footer-section">
          <h4>Foot Menu</h4>
          <ul>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Recommand Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms&Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        
        <div class="us">
          <div class="news">
            NEWSLETTER <br />
            <br />
            <p>
              Subscribe to receive updates, access to exclusive deals, and more.
            </p>
            <div class="search-box">
              <input
                type="text"
                name=""
                id=""
                placeholder="Enter your email address "
              />
            </div>
            <div class="sub">SUBSCRIBE</div>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <script src="script.js"></script>
</html>
